
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
font-family: 'Montserrat', sans-serif;
}

html, body {
padding: 0;
margin: 0;
box-sizing: border-box;
background-image: radial-gradient(circle, #7a9cdb, #6d91d7, #6087d3, #537ccf, #4672cb);
overflow: hidden;
}

#VisualDoBanco {
position: relative;
height: 90px; width: 800px;
position: absolute;
margin-left: 880px;
margin-top: 1300px;
}

#VisualDoBanco img {
height: 500px; width: 900px;
margin: auto;
margin-top: -390px;
margin-left: 70px;
}

/* teste */


main {
width: 100%;
height: 750px;
background-image: radial-gradient(circle, #7a9cdb, #6d91d7, #6087d3, #537ccf, #4672cb);
display: flex;
justify-content: center;
align-items: center;
}

#form h1 {
font-size: 57px;
color: whitesmoke
}

#ContainerPrincipal{
text-align: center;
width: 80%;
height: 90%;
}

#serviços {
color:white;
width: 60%;
height: 90%;
text-align: center;
display: flex;

}

#MenuDeOpções1 {
height: 80%;
width: 40%;
float: left;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

#MenuDeOpções2 {
height: 80%;
width: 40%;
float: right;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.OpçõesMenus {
background-color: #282A35;
color: whitesmoke;
height: 120px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 38px;
border: 1px groove #282A35;
border-radius: 70px;
box-shadow: 0 0 8px 0 #282A35;
}

.OpçõesMenus:hover {
box-shadow: 0 0 8px 8px #282A35;
}

#TextoDoMenuAtual {
font-size: 55px;
color: whitesmoke
}

#PrimeiroBloco {
margin: auto;
width: 60%;
height: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 40px;
color: white;
}

#campo-nome {
width: 66%;
height: 20%;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
color: whitesmoke;
font-size: 20px
}

#ServiçosDoBanco {
height: 28%;
width: 40%;
border: 1px groove #282A35;
border-radius: 10px;
font-size: 20px;
background-color: #282A35;
transition: all 200ms;
color: whitesmoke
}

#ServiçosDoBanco:hover {
box-shadow: 0 0 3px 3px #282A35;
}

#MenuDaOperação {
height: 100%;
width: 50%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px
}

.ValoresPadrões {
width: 200px; height: 50px;
background-color: #282A35;
color: whitesmoke;
border: 1px solid #282A35;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-size: 20px
}

.ValoresPadrões:hover {
box-shadow: 0 0 8px 8px #6480b2;

}

#BtsDeValoresPadrões {
width: 90%;
display: flex;
justify-content: space-evenly;
}

#ValorDaOperação {
width: 80%;
height: 5%;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
color: whitesmoke;
font-size: 20px
}

#TituloDoMenuDaOperação {
font-size: 75px;
color: white;
}

#ValorNaoValido {
color: red;
font-size: 24px
}

#ValorValido {
color: greenyellow;
font-size: 24px
}

#BtsOperação{
display: flex;
gap: 100px
}

#BtsOperação input {
padding: 10px;
font-size: 20px;
width: 300px;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
color: whitesmoke;
}

#PopUpDaOperação input {
padding: 12px; width: 200px;
font-size: 19px;
margin-top: 100px;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
color: whitesmoke;

}

#ConfirmaçãoDaOperação {
position: absolute;
margin-top: 150px;
height: 750px; width: 900px;
background-image: radial-gradient(circle, #7a9cdb, #6d91d7, #6087d3, #537ccf, #4672cb);
display: flex;
flex-direction: column;
justify-content: center;
font-size: 24px;
transition: all 300ms;
display: none;
color: whitesmoke;
border: 1px groove #4672cb;
border-radius: 400px;
box-shadow: 0 0 8px 0 #537ccf;
}

#PopUpDaOperação {
margin: auto;
margin-top: 100px;
width: 450px;
height: 500px;
color: whitesmoke
}

.CorDasVariáveis {
color: rgb(255, 172, 39)
}

#ArteSaque1 {
height: 710px; width: 500px;
margin-left: -350px;
position: absolute;
}

#ArteSaque1 img{
height: 710px; width: 500px;
position: absolute;
margin-top: -450px;
margin-left: -100px;
}

#ArteSaque2 {
height: 710px; width: 500px;
margin-left: -350px;
margin-left: 1000px;
}

#ArteSaque2 img{
height: 710px; width: 500px;
position: absolute;
margin-top: -450px;
}

#VisualDoBanco2 {
width: 610px; height: 610px;
position: absolute;
margin-top: 750px;
margin-left: -1400px;
}

#VisualDoBanco2 img {
width: 600px;
height: 600px;

}

#VoltarAoCampoNome {
height: 100px; width: 200px;
position: absolute;
margin: 700px 0
}

#BtVoltaAoCampoNome {
padding: 25px;
font-size: 28px;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
margin-left: -350px;
color: whitesmoke;
margin-top: -60px
}


#ArteDepósito1 {
height: 710px; width: 500px;
margin-left: -350px;
position: absolute;
}

#ArteDepósito1 img{
height: 700px; width: 600px;
position: absolute;
margin-top: -410px;
margin-left: -100px;
}


#ArteDepósito2 {
height: 710px; width: 500px;
margin-left: -350px;
margin-left: 1000px;
}

#ArteDepósito2 img{
height: 700px; width: 413px;
position: absolute;
margin-top: -400px;
}

#Tipos-De-Conta {
display: flex;
align-items: start;
justify-content: space-between;
width: 700px;
height: 100px;
color: white
}

#Tipos-De-Conta input {
width: 80%;
height: 5%;
border: 1px groove #282A35;
border-radius: 10px;
background-color: #282A35;
color: whitesmoke;
font-size: 20px
}

#Tipos-De-Conta label, #LabelValorTransf {
font-size: 20px;
color: white
}

#agência, #TipoDeConta {
width: 40px;
}

#DadosDaContaInvalidos {
font-size: 15px; color:rgb(205, 26, 26)
}

#DivDosExtratos {
height: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.Extratos {
width: 40%;
height: 100%;
font-size: 22PX;
overflow-y: scroll;
background-image: radial-gradient(circle, #7a9cdb, #6d91d7, #6087d3, #537ccf, #4672cb);
}

.EstiloGeral {
color: white;
font-size: 28px
}

#VtMenu{
position: absolute;
margin-left: -1630px;
font-size: 24px;
margin-top: 450px;
color: whitesmoke;
background-color: #282A35;
padding: 15px;
border-radius: 30px;
}


.Entradas {
color: greenyellow !important;
}

.Saidas {
color: red!important;
}

#TituloDoSaldoExtrato {
font-size: 60px;
color: white;
}

#ArteExtrato {
position: absolute;
margin-top: 330px;
}

#ArteExtrato img {
height: 600px;
margin-left: 100px;
}

#Sair {
position: fixed;
margin-top: 300px;
margin-left: 800px;
padding: 20px;
width: 150px;
font-size: 20px;
color: white;
background-color: #282A35;
}

#Sair1 {
position: fixed;
margin-top: 680px;
margin-left: 800px;
padding: 20px;
width: 150px;
font-size: 20px;
color: white;
background-color: #282A35;
}


#Sair2 {
position: fixed;
margin-top: -530px;
margin-left: 800px;
padding: 20px;
width: 150px;
font-size: 20px;
color: white;
background-color: #282A35;
}

#Sair3 {
position: fixed;
margin-top: 440px;
margin-left: 1700px;
padding: 20px;
width: 150px;
font-size: 20px;
color: white;
background-color: #282A35;
}

.devEu {
height: 900px; width: 900px;
background-color: red;
}

a {
text-decoration: none;
color: whitesmoke;
}

#IniciarBanco1 {
position: fixed;
padding: 25px;
width: 300px;
font-size: 24px;
color: white;
background-color: #282A35;
margin: 120px;
}

.VoltarPbanco {
display: flex;
justify-content: center;
}



